#a {
    float: left;
    width: 7em;
    background: #FDD;
}

#a ul {
     margin: 0;
     padding: 0;
     width: 7em;
     background: white;
     border: 1px solid;
}

#a li {
     position: relative;
     list-style: none;
     margin: 0;
     border-bottom: 1px solid #CCC;
}

#a li a {
    display: block;
    padding: 0.25em 0 0.25em 0.5em;
    text-decoration: none;
}

#a ul ul {
    position: absolute;
    top: 0;
    left: 7em;
    display: none;
}

#a li:hover {
    background: #5577BB;
}

#a li.menu {
    background: url(http://interactivepython.org/runestone/static/webfundamentals/_static/submenu.gif) 95% 50% no-repeat;
}

#a li.menu:hover {
    background-color: #EDD;
}

#a ul.level1 li.menu:hover ul.level2,
#a ul.level2 li.menu:hover ul.level3 {
    display: block;
}
