h1 {
  color:#0077FF;
  text-decoration:underline;
}

h2 {
  color:#1166EE;
}

h3, h4, h5, h6 {
  color:#2266DD;
}

body {
  background-color: #113377;
  margin-top:50px;
  
}

section{
  float:right;
  width:50%;
  height:100%;
}

section>p{
    margin-left:10px;
}

section>img {
    margin-top:15;
    margin-left:15px;
}

aside{
  margin-left:15px;
  background-color:cyan;
  float:left;
  width:50%;
  height:100%;
}
p.nav{
  color:#FFFFFF;
  text-align:center;
}
.nav {
  background-color:#AA33CC;
  -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
  animation: mymove 5s infinite;
  position: fixed;
  left:0;
  top: -15px;
  height:50px;
  width: 100%;
}

@-webkit-keyframes mymove {
    50% {background-color: blue;}
}

/* Standard syntax */
@keyframes mymove {
    50% {background-color: #4477AA;}
}

head {
  background-color: #223377;
}

td, ul {
  color: #3355DD;
}

p {
  color: #3366BB;
}
  


section.floater {
  margin:5px;
  border: 2px solid black;
  overflow: auto;
  display: inline;
  float:left;
}

footer{
  background-color:#AA33CC;
  clear:both;
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
}

#high {
  background-color:red;
}
#high>ul {
  color: white;
}

#high>h1 {
  color:white;
  text-align:center;
  text-decoration: none;
}

#medium {
  background-color:orange;
}
#medium>ul {
  color: brown;
}

#medium>h1 {
  color:brown;
  text-align:center;
  text-decoration:none;
}

#low {
  background-color:gray;
}
#low>ul {
  color: black;
}

#low>h1 {
  color:black;
  text-align:center;
  text-decoration:none;
}

#done {
  background-color:black;
}
#done>ul {
  text-decoration:line-through;
  color: cyan;
}

#done>h1 {
  color:cyan;
  text-align:center;
  text-decoration:none;
}

a:link {
  color:#0077FF;  
}
a:visited {
  color:#883311;
}

.high {
  color:red;
}

.medium {
  color:orange;
}

.low {
  color:#aaaaaa;
}

.done {
  color:#FFFFFF;
  text-decoration:line-through;
}
