h1 {
color:#0077FF;
font-size: 32;
}

head {
background-color: #223377;
}

body {
background-color: #113377;
}

a:link {
  color:#0077FF;  
}
a:visited {
  color:#883311;
}

.high {
  color:red;
}

.medium {
  color:orange;
}

.low {
  color:#CCCCCC;
}

.done {
  text-decoration: line-through;
}
